# ===========================
# PlatformIO
# ===========================
.pio/
.pio/*

# ===========================
# VSCode (config local del usuario)
# ===========================
.vscode/

# ===========================
# Python (por si usas scripts)
# ===========================
.venv/
__pycache__/
*.pyc

# ===========================
# SO (archivos basura del sistema)
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log
